<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>OURganizer</title>
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
 crossorigin="anonymous">
</head>
<body>

 <!-- create navigation bar ( header) -->
 <nav class="navbar nav1 navbar-fixed-top">
  <div class="container">
   <div class="navbar-header">
    <a class="navbar-brand header" href="#" th:href="@{/}">OURganizer</a>
   </div>
  </div>
 </nav>
 
 <br>
 <br>
 <br>
 <h1>Store your data securely below!</h1>

 
</body>
</html>