<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>OURganizer</title>
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
 crossorigin="anonymous">
</head>
<body>

 <!-- create navigation bar ( header) -->
 <nav class="navbar nav1 navbar-fixed-top">
  <div class="container">
   <div class="navbar-header">
    <a class="navbar-brand header" href="#" th:href="@{/}">OURganizer</a>
   </div>
  </div>
 </nav>
 
 <br>
 <br>
 <br>
 <h1>Store your data securely below!</h1>

	<div  class="container my-2">
 	 <h1>Your Credentials</h1>
 	 
 	 <a th:href = "@{/api/addCredentials}" class="btn btn-primary btn-sm mb-3"> Add Credentials </a>
 	 
 	<table border="1" class="table table-striped table-responsive-md">
 		<thead>
 			<tr>
 				<th>Service Name</th>
 				<th>Username/Email</th>
 				<th>Password</th>
 	</tr>
 	</thead>
 	<tbody>
 		<tr th:each="services : ${listServices}">
					<td th:text="${services.serviceName}"></td>
					<td th:text="${services.userName}"></td>
					<td th:text="${services.password}"></td>
				</tr>
 	</tbody>
 	</table>
 	</div>
 
</body>
</html>