h1 {
	font-weight: bold;
}
body{
	margin: 0;
}

.logo {
	display: flex;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
	
}

.nav1 {
	background-color: #008080;
}

.header {
	justify-content: left;
	text-align: left;
	color:white;
}

.logout {
	background-color: white;
	color: white;
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 900px;
}
.btnHolder{
	display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 10px;
    margin-bottom: 50px;
}
.welcome {
	padding: 20px;
	margin: auto;
	text-decoration: underline;
}

.buttons {
	height: 250px;
    width: 250px;
    justify-content: center;
    padding: 0.46em 1.6em;
    border: 0.1em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #008080;
    text-align: center;
    transition: all 0.15s;
}

.buttons:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

@media only screen and (min-width: 1000px) {
    .logo {
        width: 500px;
    }
}

@media only screen and (max-width: 1100px) {
    .nav {
        justify-content: center;
        align-items: center;
        display: block;
    }
}




